.cabeleleiro_cor{
 
    background: linear-gradient(180deg, rgb(252, 94, 94) 0%, rgb(215, 38, 14) 66%, rgb(160, 22, 3) 100%);
    z-index: 10;
    overflow: hidden;


}

.title_unil{
    display: flex;

    width: 100%;
    margin-top: 10rem;
    flex-direction: column;
    padding: 3rem;
    position: relative;

}

.title_unil1{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;
    z-index: 999;

    
}

.title_unil1 a,  .title_unil1_sa a{
    color: rgb(229, 229, 229);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease; 
    cursor: pointer;
    display: flex;
    text-decoration: none;
}
.title_unil1 a:hover, .title_unil1_sa a:hover{
    display: flex;
    background-color: rgba(0, 0, 0, 0.108);



}

.title_unil2_ca{
    font-size: 50px;
    color: rgb(150, 31, 12);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;

}



.conatiner_unilt_item_ca{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(254, 146, 146, 0.413);
}

.conatiner_text_item_ca{
    display: flex;
    padding: 3em;
    color: white;
    font-size: 25px;
    z-index: 5;
    font-weight: 500;
    width: 80%;
    background-color: rgba(255, 123, 123, 0.822);
    border-radius: 20px 5px 5px 100px;
    text-align: justify;
}

.conatiner_body_unil{
    display: flex;

    width: 100%;
}

.conatiner_unilt_item_left{
    display: flex;
    width: 50%;
    padding: 3rem;
    font-size: 25px;
    color: white;
    z-index: 8;
}
.conatiner_unilt_item_right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.conatiner_unilt_item_right img{
    display: flex;
    width: 500px;
    height: 600px;
    border-radius: 5px 100px 5px 5px;
    object-fit: cover;
    z-index: 8;
}


.user_item{
    display: flex;
 
    justify-content: center;
    align-items: center;
    padding: 3rem;

}


.container_item_img{
    display: flex;
    position: relative;
  
}



.img_shape, .img_shape2{
    position: absolute;
    z-index: 5;
    border-radius: 15px;
    height: 250px;
    width: 700px;
    opacity: 90%;

}

.img_shape2{
    bottom: -100px;
    right: -100px;

}
.img_shape{
    right: -300px;
    top: -50px;

}



#img_title_ca{
    display: flex;
    position: absolute;
    z-index: 3;
    height: 900px;
    right: -100px;
    rotate: 180deg;
    top: -50px;
}


#img_ocupacao{
    display: flex;
    position: absolute;
    height: 700px;
    z-index: 3;
    left: -100px;
    top: -100px;
}


#img_competidor{
    display: flex;
    position: absolute;
    right: -320px;
    bottom: -960px;
    height: 1710px;
 z-index: 3;
}



@media (max-width:1110px) {

    .container_item_img .img_ref{
        width: 400px;
        height: 500px;
    }

    .img_shape, .img_shape2{
        width: 500px;

    }

    .conatiner_unilt_item_right img{
        width: 400px;
    }
    .conatiner_unilt_item_left{
        text-align: justify;
        font-size: 20px;
    }
    .conatiner_body_unil{
        flex-direction: column;
        justify-content: center;

    }

    .conatiner_unilt_item_left{
        width: 100%;

    }

    #img_pri{
        display: none;
    }

    
    #WrapText {
        width: 100%;
        text-align: justify;
        font-size: 20px;

    }
}


