
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

@import url(ti.css);
@import url(estetica.css);
@import url(cabeleleiro.css);
@import url(saude.css);
@import url(gastronomia.css);



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}





.container_img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  

  #videoteste {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  

  .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:40%; 
    background: linear-gradient(to bottom, transparent, #320441);
    z-index: 1;
    pointer-events: none;
  }

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.2); 
    z-index: 3;
  }
  

  .container_text_video {
    position: absolute;
    top: 95%;
    transform: translateY(-10%);
    z-index:7;
    padding: 0 3rem;
    width: 100%;
    height: 100%;


  }
  
  .title_video {
    color: white;
    font-size: 2.5rem;
    width: 90%;
    font-weight: 500;
    text-transform: uppercase;

  }
  
  
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(252, 250, 255, 0.85);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    z-index: 9999;
  }
  
  .container_logo {
    display: flex;
    align-items: center;
  }
  
  .container_logo img {
    height: 60px;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #535353;
    transition: color 0.2s ease;
  }
  
  .nav ul li a:hover {
    color: rgb(196, 196, 196);
  }



main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff3f9;

    flex-direction: column;
    overflow: hidden;
}

.ocupacoes{
    display: flex;
    width: 100%;
    height: 100%;
  
    flex-direction: column;
    background-color: #320441;
    overflow: hidden;

}



.title_default{
    display: flex;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #636363;
    padding: 3rem;
    padding-top: 5rem;
    text-transform: uppercase;
    z-index: 5;
    flex-direction: column;
    gap:2rem;

  
}

.title_default2{
    display: flex;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    padding: 3rem;
    text-transform: uppercase;
    padding-top: 5rem;
    z-index: 5;
    flex-direction: column;
    
 

}



.shape{
    display: flex;
    height: 1px;
    width: 90%;
    background-color: #d7d7d7;
    margin-top: 5rem;
    margin-bottom: 3rem;
    justify-self: center;
    align-self: center;
    z-index: 2;
}

.conatiner_wrap_ocupacoes{
    display: flex;
    width: 100%;
    margin-top: 3rem;
    border-radius: 5px;
    

}

.conatiner_wrap_ocupacoes a{
    display: flex;
    width: 500px;
    height: 500px;
    transition: all 0.2s ease;
    margin-bottom: 5rem;
    
}

.conatiner_wrap_ocupacoes a:hover{
    cursor: pointer;
    transform: scale(1.05);

}
.conatiner_wrap_ocupacoes a:hover img{
    border-radius: 5px;

}

.conatiner_wrap_ocupacoes a img{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
}









/* PARTE 2 */


.conatiner_card_default{
    display: flex;
    margin-top: 2rem;

    flex-direction: column;
    margin-bottom: 8rem;


}

.swiper{
    display: flex;
    width: 100%;


}

.swiper-wrapper{
    display: flex;
    padding: 2rem;
    width: 100%;
}

.swiper-slide{
    display: flex;

    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.swiper-slide img{
    width: 400px;
    display: flex;
    height: 500px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}

.swiper-slide:hover{
    transform: translateY(-15px);

}



.swiper-slide .title1{
    display: flex;
    width: 400px;
    flex-direction: column;
    font-size:30px;
    color: #636363;
    font-weight: 500;
}
.swiper-slide .title2{
    display: flex;
    width: 400px;
    font-size:25px;
    flex-direction: column;
    color: #ACACAC;
    font-weight: 400;
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    
}


/* PARTE SOBRE */


.sobre{
    display: flex;
    width: 100%;
    position: relative;


}

.container_sobre_left{
    display: flex;
    width: 50%;
    background-color: #FFD821;
}

.shape_2{
    display: flex;
    width: 700px;
    height: 100px;
    background-color:#FFD821;
    position: absolute;
    top: -60px;
    border-radius: 00px 50px 0px 0px;
}
.text_default{
    display: flex;
    padding: 3rem;
    font-size: 25px;
    color: #636363;
    
}
.container_sobre_right{
    display: flex;
    width: 50%;
    background-color: #FFD821;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}


.container_sobre_right img{
    display: flex;
    height: 500px;
}









/* 
PARTE LEGADO */

.legado{
    display: flex;
    background: linear-gradient(180deg,rgb(255, 76, 76) 0%, #ff5d27 51%, #ff3801 100%);
    flex-direction: column;
    position: relative;
    z-index: 5;

}

.container_bod_legado{
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 100%;
}

.conatiner_text_legado{
    display: flex;
    background-color: #FBBABA;
    padding: 2em;
    font-size: 20px;
    border-radius: 4px;
    color:#303030 ;
    z-index: 5;
    text-align: justify;
}

.conatiner_item_legado{
    display: flex;
    padding: 3rem;
  
    margin-top: 2rem;
    width: 100%;
    flex-wrap: wrap;
    gap: 7rem;
}

.item_legado{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item_legado i{
    display: flex;
    font-size: 80px;
    color: rgb(206, 52, 9);
}
.shape2{
    display: flex;
    width: 500px;
    height: 2px;
    background-color: #e85100;
}

.Title_legado{
    font-size: 25px;
    color: white;
    font-weight: 500;
}

.shape_legado{
    display: flex;
    position: absolute;
    width: 900px;
    height: 90px;
    background-color: #ff3801;
    bottom: -70px;
    right: 0;
    border-radius: 10px 10px 0px 90px;
}










/* 
PARTE AOVIVO */


.aovivo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

  }
  
  .video_container {
    position: relative;
    width: 90%;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
  }
  




/* 
FOOTER */


footer{
    display: flex;
    width: 100%;
    padding: 2rem;
    background-color: #F57474;
}

.conatiner_redes{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}

.conatiner_redes .item-rede{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;

    transition: all 0.2s ease;
    cursor: pointer;
}


.conatiner_redes .item-rede i{
    font-size: 25px;
    color: #ffebe6;
}


.conatiner_redes .item-rede:hover{
    background-color: #eeeeee;
}
.conatiner_redes .item-rede:hover i{
    color: #828282;
}


.voltar{
    width: 100%;
    margin-bottom: 3rem;


    

}

.voltar a{
    display: flex;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;

    border-radius: 5px;
}




.competidores{
    position: relative;
}

#trasi-1{
    display: flex;
    position: absolute;
    height: 400px;
    right: 0;
    bottom: -200px;
    z-index: 2;
    opacity: 80%;


}
#trasi-2{
    display: flex;
    position: absolute;
    height: 700px;
    right: -200px;
    top: -200px;

    z-index: 2;


}

#trasi-3{
    display: flex;
    position: absolute;
    height: 600px;
    left: -300px;
    top: -200px;
    rotate:100deg;

    z-index: 2;



}

#logo_comp{
    display: flex;
    position: absolute;
    z-index: 999;
    height: 300px;
    right: 20px;
    top: 100px;
}



#WrapText {
    font-weight: 500;
    flex-direction: column;
}


.frase_impacto{
    display: flex;
    background-color: rgba(0, 0, 0, 0.112);
    font-size: 35px;
    margin-bottom: 3rem;
    border-radius: 5px;
    padding: 1rem;
    color: #ffffff;
    text-align: justify;
}


.frase_impacto2{
    display: flex;
    background-color: rgba(120, 112, 112, 0.112);
    font-size: 35px;
    margin-bottom: 3rem;
    border-radius: 5px;
    padding: 1rem;
    color: #636363;
    text-align: justify;
}



.nome_default{
    display: flex;

    font-size: 30px;
    font-weight: 500;
    color: #636363;
}


.voltar_topo{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 253, 253, 0.579);
    font-size: 30px;
    position: fixed;
    justify-content: center;
    align-items: center;
    color: #636363;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s ease;
}

.voltar_topo:hover{
    background-color: white;
}

#img_competidor_sa{
    opacity: 40%;
}








.voltarIndex{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(44, 44, 44, 0.579);
    font-size: 30px;
    position: fixed;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    bottom: 20px;
   left: 20px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;

}

.voltarIndex:hover{

    background-color: white;

}


/* 
ANIMAÇÔES */




/* NAV MOBILE*/




 .nav_mobile{

    display: none;
    z-index: 999;
 }

/* MEDIE QUERIES */












@media (max-width:1467px) {

    .title_video{
        font-size: 2rem;
    }

    .conatiner_wrap_ocupacoes a{
        width: 400px;
        height: 400px;
    }

}

@media (max-width:1270px){
    .conatiner_item_legado {
        justify-content: center;
    }


}
@media (max-width:1138px) {


    
  .container_text_video {
    transform: translateY(-20%);

  }
  

    .conatiner_wrap_ocupacoes a{
        width: 300px;
        height: 300px;
    }


    #img_competidor_sa, #img_competidor_ti{
        opacity: 30%;
        height: 1300px;
    }

    #img_competidor{
        opacity: 30%;
        height: 1100px;
        

    }

    .title_video{
        font-size: 2.5rem;
        width: 100%;
    }

}

@media (max-width:1036px) {

    .sobre{
        width: 100%;
        flex-direction: column;
    }

    .title_default{
        width: 100%;
  
    }

    .container_sobre_right img{
        display: none;
    }
    .container_sobre_left,   .container_sobre_right{
        width: 100%;
    }


    .conatiner_item_legado{
        justify-content: center;
    }

    .shape2{
        width: 300px;

    }

    .title_video{
        width: 90%;

    }


    #logo_comp{
        top: 130px;
    }

   


}




@media (max-width: 965px) {


    .conatiner_wrap_ocupacoes a{
        width: 300px;
        height: 400px;
    }

    .conatiner_wrap_ocupacoes a img{
        border-radius: 5px;
    }

    .conatiner_wrap_ocupacoes{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    .ocupacoes{
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    .shape_legado, .shape_2{
        width: 400px;
    }

    #trasi-2, #trasi-3{
        height: 500px;
    }
    
}




@media (max-width:909px) {


    .container_text_video {
        transform: translateY(-30%);
    
      }
      

    .nav{
        display: none;
    }

    .nav_mobile{
        display: flex;
        width: 100%;
        background-color: rgba(252, 250, 255, 0.85);

    }
    .nav_mobile .container_logo_mob{
        display: flex;
        width: 30%;
        align-items: center;
        padding: 1rem;
        padding-left: 2rem;
        
    }

    .container_logo_mob img{
        display: flex;
        height: 60px;
    }


    .conatiner_body_nav{
        display: flex;
        width: 70%;
        justify-content: end;
        align-items: center;
        position: relative;
    }

    .icon_open{
        display: flex;
        font-size: 35px;
        padding-right: 2rem;
        color: #6b0be1;
    
    }

    .conatiner_open{
        display: flex;
        position: absolute;
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        right: 70px;
        top: 70px;
        border-radius: 5px;
        transition: all 0.2s ease;
        width: 0;
        visibility: hidden;
        justify-content: center;
        overflow: hidden;
        z-index: 999;
    }

    .conatiner_open ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .conatiner_open ul li{
        display: flex;
        list-style: none;
        justify-content: start;
        align-items: center;
    }

    .conatiner_open ul li a{
        display: flex;
        text-decoration: none;
        font-size: 25px;
        color: #535353;
        gap: 1rem;
        align-items: center;
        font-weight: 500;

    }


    .active_nav{

        transition: all 0.2s ease;
        visibility: visible;
        width: 100%;
        overflow: hidden;
    }


    
}
@media (max-width:800px) {

    .conatiner_wrap_ocupacoes a{
        width: 250px;
        height: 350px;
    }

    .conatiner_wrap_ocupacoes{
        gap: 1rem;
    }

    .aovivo .video_teste{
        height: 500px;
    }

    .title_default{
        font-size: 30px;
    }

    .swiper-slide img{
        width: 300px;
        height: 400px;
    }
    .swiper-slide .title1{
        font-size: 25px;
        width: 300px;

    }
    .swiper-slide .title2{
        width: 300px;
        font-size: 20px;

    }

    .shape2{
        width: 400px;

    }


    
}


@media (max-width:650px) {

    .conatiner_text_item_sa{
        font-size: 20px;
    }

    .title_unil2_sa, .title_unil2, .title_unil2_ga, .title_unil2_ca, .title_unil3{
        font-size: 30px;
    }

    #img_title_sa, #img_title_ca, #img_title, #img_title_ga{
        opacity: 30%;
        height: 300px;
    }

    #img_ocupacao{
        opacity: 30%;
    }

    .img_shape2{
        height: 200px;
        width: 500px;
        right: -30px;
        top: 300px;
    }

    .title_video{
        font-size: 1.8rem;
        width: 100%;

    }

    #logo_comp {
        display: flex;
        position: absolute;
        z-index: 999;
        height: 160px;
        right: 20px;
        top: 100px;
    }
    
}
@media (max-width:581px) {

    .conatiner_text_item_ca, .conatiner_text_item_ti, .conatiner_text_item_ga,.conatiner_text_item_sa {
        padding: 2rem;
        font-size: 20px;
        border-radius: 5px 90px 5px 90px;
    }
    

    .title_default,.title_default2{
        font-size: 30px;
    }

    .swiper-slide img{
        width: 250px;
        height: 300px;
    }
    .swiper-slide .title1{
        font-size: 20px;
        width: 250px;

    }
    .swiper-slide .title2{
        width: 250px;
        font-size: 16px;

    }

    .shape_legado, .shape_2{
        width: 300px;
    }


    
}


@media (max-width:459px) {

    .container_text_video {
        position: absolute;
        top: 70%;
        transform: translateY(-10%);
        z-index: 4;
        padding: 0 2rem;
        width: 100%;
      }

    .title_video{
        font-size: 1.8rem;
        width: 100%;
    
    }

    .title_default{
        font-size: 30px;
    }



    .swiper-slide img{
        width: 350px;
        height: 400px;
        margin-right: 3.5rem;
    }
    .swiper-slide .title1{
        font-size: 25px;
        width: 350px;
        margin-right: 3.5rem;

    }
    .swiper-slide .title2{
        width: 350px;
        font-size: 20px;
        margin-right: 3.5rem;

    }

    .title_default,.title_default2{
        font-size: 23px;
    }

    .text_default{
        font-size: 20px;
        text-align: justify;
    }

    .shape2{

        width: 250px;

    }

    .item_legado i{
        font-size: 60px;
    }

    .aovivo .video_teste{
        height: 300px;
    }


    .img_shape2{
        height: 170px;
        width: 400px;
        right: 0px;
        top: 240px;
    }


    
}


@media (max-width:370px) {

 
    
}