.ti_cor{
    background: linear-gradient(180deg, rgb(54, 1, 88) 0%, rgb(161, 14, 215) 66%, rgb(34, 1, 59) 100%);
    z-index: 10;

}

.title_unil{
    display: flex;

    width: 100%;
    margin-top: 10rem;
    flex-direction: column;
    padding: 3rem;
    position: relative;

}

.title_unil1{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    
}
.title_unil2{
    font-size: 50px;
    color: rgb(204, 127, 255);
    font-weight: 700;
    text-transform: uppercase;
    z-index: 999;

}



.conatiner_unilt_item_ti{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(91, 10, 131, 0.265);
}

.conatiner_text_item_ti{
    display: flex;
    padding: 3em;
    color: white;
    font-size: 25px;
    z-index: 5;
    font-weight: 500;
    width: 80%;
    background-color: rgba(189, 144, 238, 0.822);
    border-radius: 20px 5px 5px 100px;
    text-align: justify;
}

.conatiner_body_unil{
    display: flex;

    width: 100%;
}

.conatiner_unilt_item_left{
    display: flex;
    width: 50%;
    padding: 3rem;
    font-size: 25px;
    color: white;
    z-index: 8;
}
.conatiner_unilt_item_right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.conatiner_unilt_item_right img{
    display: flex;
    width: 500px;
    height: 600px;
    border-radius: 5px 100px 5px 5px;
    object-fit: cover;
    z-index: 8;
}


.user_item{
    display: flex;
 
    justify-content: center;
    align-items: center;
    padding: 3rem;

}


.container_item_img{
    display: flex;
    position: relative;
  
}




.img_shape, .img_shape2{
    position: absolute;
    z-index: 5;
    border-radius: 15px;
    height: 250px;
    width: 700px;

}

.img_shape2{
    bottom: -100px;
    right: -100px;

}
.img_shape{
    right: -300px;
    top: -50px;

}



#img_title{
    display: flex;
    position: absolute;
    z-index: 3;
    height: 600px;
    right: 0px;
    rotate: 180deg;
    top: -70px;
}


#img_ocupacao{
    display: flex;
    position: absolute;
    height: 700px;
    z-index: 3;
    left: -100px;
    top: -100px;
    opacity: 50%;
}


#img_competidor_ti{
    display: flex;
    position: absolute;
    right: -320px;
    bottom: -1105px;
    height: 1910px;
    z-index: 3;
}